html,body{
    height: 100%;
    background-color: rgb(51, 51, 51);
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif,"noto sans traditional";
}
p{
    color: white;
    text-align: center;
}
#header{
    margin: 20px;
    border: 2px rgb(72, 72, 72) solid;
    border-radius: 15px;
}
#container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#menu{
    margin: 2%;
    width: 20%;
    flex: 1;
}
#content{
    margin: 2%;
    width: 60%;
    flex: 2;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    margin: 10px;
}
.social_image{
    width: 7.2vh;
}