body{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    position: sticky;
    background-color: blueviolet;
    width: 100%;
    padding: 15px;
    height: 32px;
}
.container{
    width: 100%;
    position: relative;
}
aside{
    width: 30%;
    position: sticky;
    left: 0;
}

section{
    width: 70%;
}

p{
    font-style: normal;
}