p{
    color: aliceblue;
}
#container{
    width: 100%;
    background-color: rgb(26, 26, 26);
}
#header{
    text-align: center;
    width: 60%;
    float: top;
}
#footer{
    text-align: center;
    width: 60%;
}